@{
  Layout = "_Layout";
}

@model SillyStringFactory.Models.Engineer

<h1> Assign a machine </h1>

<h2> Assign a machine to this Engineer: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>