@{
  Layout = "_Layout";
}

@model SillyStringFactory.Models.Engineer
<h1> Edit </h1>

<h2> Edit this Engineer: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <!-- @Html.Label("Select machine")
  @Html.DropDownList("MachineId") -->

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>